@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Lato";
  font-weight: 400;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}


input:focus {
  border: none;
}

textarea:focus, input:focus{
  outline: 2px solid #d3d7d9;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Italic.ttf");
  font-style: italic;
}
