html,
body {
  height: 100%;
  min-width: minwidth;
  margin: 0;
  color: #4d4959;
  background-color: #f7f7f7;
}
$minwidth: 320px;

.my-container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 32px;

  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }
}

.page,
.main-screen {
  height: 100%;
}

.wrapper {
  height: 100%;
  min-height: 100%;
}

.main-screen__bg {
  height: 100%;

  background-image: url("../assets/img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.description {
  text-align: center;
  font-size: 1.5em;
  color: #848789;
}

// @apply relative after:content-[""] after:absolute after:w-5 after:h-5 after:rotate-45 after:bottom-[-11px] after:z-10;

// @apply relative after:content-[''] after:absolute after:w-5 after:h-5 after:bottom-[-11px] after:z-10 after:-translate-x-2/4 after:rotate-45 after:left-2/4;

// @apply relative after:content-[""] after:absolute after:w-5 after:h-5 after:bottom-[-11px] after:z-10 after:-translate-x-2/4 after:rotate-45 after:bg-white after:left-2/4;
